*.xcconfig
**/Key.xcconfig
Key.xcconfig

.DS_Store
.AppleDouble
.LSOverride
._*

# Swift Package Manager
# Ignore Swift Package Manager build artifacts and dependencies
.build/
Packages/
Package.resolved
.swiftpm

# Fastlane
# Ignore fastlane specific files
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Carthage
# Ignore Carthage dependencies
Carthage/Build/

# Development
# Ignore code injection tools and temporary files
injectionforxcode/
*.swp
*.swo
*.swap
*~
